* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Matemasie", sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --purple: rgb(90, 60, 234);
    --pink: rgb(240,134,195);
    --red: rgb(244,96,54);
    --yellow: rgb(252,235,67);
    --green: rgb(82, 197, 126);
} 


body{
  background-color: black;
  color: var(--white);
  overflow-x: hidden !important;
}










/* HEADER */











#menu_home {
    position: fixed;
    z-index: 1;
}

header {
    height: 100vh;
    background-size: fill;
}

#exhibit_video {
    position: relative;
    height: 100vh;
}

#exhibit_video video {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ajusta el video para cubrir completamente el contenedor */
}

#exhibit_video img {
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: contain; /* Ajusta la imagen para cubrir completamente el contenedor */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    opacity: 0.6;
}

.video_expo {
    height: 100vh;
}

header .home {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home img{
  width: auto;
  height: 40vh;
}











/* INFORMACIÓN */












.informacion {
    width: 100%;
    height: 100%;
    background: none;
    padding: 3em;
}

.info_apartado {
    padding-top: 2em;
}

.addtext {
    padding: 1.5em;
    width: 100%;
}

.informacion h2 {
    color: var(--yellow);
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    font-family: "Matemasie", sans-serif;
}

.informacion p{
    color: var(--pink);
    text-align: center;
    font-size: 1.4em;
    padding-top: 1.5em;
}






















/* MARQUEE */












.marquee1_ {
  padding: 4em;
}


.marquee {
	width: 100vw;
	height:120px;
	line-height:120px;
	overflow: hidden;
	padding: 0;
}

.marquee span {
	position:relative;
	padding: 0 140px 0 0;
	height:120px;
	line-height:120px;
	font-size:100px;
	overflow: visible;
	white-space:nowrap;
  font-family: "Matemasie", sans-serif;
  color: var(--red);
}

.marquee span::before {
	position:absolute;
	top:20px;
	left:-110px;
	display:block;
	width:100px;
	height:48px;
	line-height:12px;
	font-size:12px;
	text-transform:uppercase;
	text-align:right;
	white-space:normal;
}

.marquee span::before {
	content:"ART-FEST / IBIZA SUMMER / 2025 ";
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.marquee span::before {
  content:"ART-FEST / IBIZA SUMMER / 2025 ";
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}










/* ARTISTAS */





#gradient {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}


.artistas_row {
  color: black;
  font-family: "Shadows Into Light";
}


.column_title h1{
  font-family: "Matemasie", sans-serif;
  color: var(--black);
}









/* FORMULARIO */








.container_formulario {
  padding-right: 2em;
  padding-left: 2em;
}


.container_formulario h1{
  color: var(--purple);
  font-family: "Matemasie", sans-serif;
}


.container_formulario p{
  color: var(--pink);
}














/* PARTNERS */












.product-image-slider { 
  display: flex; 
  align-items: left;
  flex-direction: column;
  max-width: 300px;
    margin: 0 auto;
  padding: 60px 0;
}
.wrapper {
  height: 310px;
  width:100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}


.product-intro { 
  background-color: var(--pink);
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.product-intro h2 { 
  padding-left: 1em;
  padding-top: 1em;
  color: var(--black);
  font-family: "Matemasie", sans-serif;

}

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
  margin-top: 10px;
}

.card {
  background: var(--black);
  min-width: 300px;
  height: 300px;
  margin-right: 14px;
  display: inline-block;
  border-radius: 8px;
}
.card img { width: 100%; height: auto; border-radius: 8px; }
.slider-padding { 
  position: absolute; 
  color: black; 
  top: 0;
  font-size: 24px;
  font-weight: 600;
/*   width: 28%; */ width: 80%;
  padding: 0 30px;
}
.arrow-icon-left { 
  border: none; 
  padding: 16px 20px; 
  border-radius: 50%; 
  margin-left: 20px; 
  background-color: white; 
}


.arrow-icon-right { 
  border: none; 
  padding: 16px 20px; 
  border-radius: 50%;  
  margin-right: 20px; 
  background-color:white; 
}



















/* 


.slider {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 10rem;
}
.slider .scrollable {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.slider .scrollable-container {
  display: flex;
  align-items: center;
}

.slider img {
  flex-shrink: 0;
  margin: 0 2rem;
  max-height: 90vh;
  max-width: none;
}

.js .slider {
  height: 600vh;
}

.js .slider .scrollable {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
 */











/* FOOTER */















.main_footer {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  background: var(--black);
  font-family: "Open Sans", sans-serif;
}
.footer {
  z-index: 1;
  --footer-background:#a455ed;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
.footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
.footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}

.footer .content b {
  color: white;
}
.footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
.footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .content > div > div {
  margin: 0.25rem 0;
}
.footer .content > div > div > * {
  margin-right: 0.5rem;
}
.footer .content img {
  align-self: center;
  height: 80px;
  margin: 0.25rem 0;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}















@media (min-width: 768px) { 
  .product-image-slider { 
  display: flex; 
  align-items: left;
  flex-direction: column;
  max-width: 1260px;
}
.wrapper {
  height: 360px;
/*   width: 100%; */ width: 740px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
  .product-intro {
/*     width: 100%;
    height: auto; */
/*     width: 790px; */ /* width: 97%; */
    width: 740px;
    height: auto;
    margin: 0 auto;
  }
  .slider-padding {
    width: 80%;
  }
  .carousel { width: 360px; }
  .card { 
/*     min-width: 410px;
    height: 410px; */
    min-width: 360px;
    height: 360px;
  }
    .card img { 
      width: 100%;
      height: 360px; 
      margin: 0 8px; 
  }


}


/* iPad Air */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
  .card {
  min-width: 360px;
  height: 360px;
}
.product-intro { width: 740px; }
}

/* iPad Air */
@media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : landscape) {
.product-intro {
  width: 790px;
}
.card {
  min-width: 385px;
  height: 385px;
}
}

/* iPad Air */
@media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation : landscape) {
.product-image-slider {
  flex-direction: column;
}
.wrapper {
 width: 940px;
}
.card {
  min-width: 385px;
  height: 385px;
}
.product-info { width: 940px; }
}



@media (min-width: 1024px) {
.product-image-slider { 
display: flex; 
align-items: left;
flex-direction: column;
max-width: 1260px;
}
.wrapper {
height: 300px;
width: 940px;
position: relative;
overflow: hidden;
margin: 10px auto 0;
}
/*     .product-intro {
width: 300px;
height: 300px;
} */
.product-intro {
/*     width: 91%; */
  width: 940px;
  height: auto;
}
.carousel {
margin: 0;
padding: 0;
list-style: none;
width: 100%;
display: flex;
position: absolute;
left: 0;
transition: all 1s ease;
}
.card {
 min-width: 300px;
 height: 300px;
}
.card img { width: 100%; height: auto;  }
  .slider-padding {
  width: 28%;
}

}

@media (min-width: 1280px) {
  .product-image-slider { flex-direction: row; }
  .wrapper { margin: 0 auto; }
  .product-intro {
width: 300px;
height: 300px;
}
}
