
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pangolin", cursive;font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color:rgb(23, 23, 23);
    color: #f0e086;
}

h1 {
    
    font-family: "Bahiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}













/* MODAL */

.modal-content {
    background-color:#ffffff; /* Color de fondo del modal (gris oscuro) */
    color:#F086C3; /* Color del texto */
    border: 2px solid #ffed2c; /* Color del borde del modal (azul) */
}

.modal-header {
    border-bottom: none
}

.btn-secondary {
    background-color:#121212; /* Color de fondo del botón primario */
    border-color:#ffffff; /* Color del borde del botón primario */
}

.btn-secondary:hover {
    background-color:#ffed2c; /* Color de fondo en hover del botón primario */
    border-color: #ffffff; /* Color del borde en hover del botón primario */
}











/* HEADER */

header {
    width: 100%;
    height: 80vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.video-fondo {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para que cubra toda la sección */
    z-index: -1; /* Coloca el video detrás del contenido */
}












/* CARRUSEL PALABRAS */

.wordCarousel {

    font-size: 4em;
    font-weight: 100;
    color:#ffffff;
}

  .wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 100px;
    padding-top: 10px;
    margin-top: -10px;
  }

  .wordCarousel div ul {
    padding-left: 0;
  }

  .wordCarousel div li {
    color:#3a9736;
    font-weight: 700;
    /* padding: 0 10px; */
    height: 45px;
    margin-bottom: 45px;
    display: block;
    text-align: center;
  }

  .flip4 li {
    font-family: "Bahiana", sans-serif;
  }
  
  .flip2 {
    -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip3 {
    -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip4 {
    -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  @-webkit-keyframes flip2 {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  
  @keyframes flip2 {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @-webkit-keyframes flip3 {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @keyframes flip3 {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @-webkit-keyframes flip4 {
    0% {
      margin-top: -360px;
    }
    5% {
      margin-top: -270px;
    }
    25% {
      margin-top: -270px;
    }
    30% {
      margin-top: -180px;
    }
    50% {
      margin-top: -180px;
    }
    55% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @keyframes flip4 {
    0% {
      margin-top: -360px;
    }
    5% {
      margin-top: -270px;
    }
    25% {
      margin-top: -270px;
    }
    30% {
      margin-top: -180px;
    }
    50% {
      margin-top: -180px;
    }
    55% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
}

.custom-btn {
    background-color: #000000; /* Color de fondo inicial */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno del botón */
    font-size: 1.2em; /* Tamaño del texto */
    transition: background-color 0.3s ease; /* Efecto de transición */
    border-radius: 50px;
}

.custom-btn:hover {
    background-color:#3a9736; /* Color de fondo al hacer hover */
    color: #ffffff; /* Color del texto al hacer hover */
}















/* NAVBAR */

.navbar-brand > img{
    width: 2em;
}

.navbar-nav .nav-link {
    color:#ffed2c;
    position: relative;
    padding: 5px 10px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #3a9736;
}

.navbar-nav .nav-link:hover {
    color:#ffffff;
}


.dropdown-menu {
    background-color: #000000;
    border-radius: 0%;

}

.dropdown-item {
    color:#F086C3;
}












/* BOTÓN Y FORM DEL NAV */

.my-color-btn {
    color: #ffffff;
    background-color: #ffed2c;
    border-radius: 50px;
}

.search_bar {
    border-radius: 50px;
    background-color: transparent;
    box-shadow: none;
    border-color: #ffed2c;
}

.my-color-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #F086C3;
}
















/* ARTIST OF THE MONTH */

#artist {
    background-color:#3a9736;
}

.custom-border {
    border: 1px solid #060606;
}

.my_container_ok {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}











/* FEATURED PRODUCTS*/

#MERCH_MUSIC  h1 {
    /* text-align: center; */
    color: #ffffff;
    font-size: 5em;
}

#MERCH_MUSIC {
    margin: 2em;
    padding: 2em;
}

.mymusiccard {
    background-color: transparent !important; /* Quita el color de fondo */
    border: none !important; /* Quita el borde */;
    color: whitesmoke;
}

.mymusiccard .card-title {
    font-weight: 500;
    color: #f0e086;
}














/* TOP SELLERS */

#top_sellers {
    text-align: center;
    padding: 4em;
    background-image: url(../MERCH_PICS/GRADIENT.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#top_sellers h1 {
    text-align: center;
    padding: 1em;
    color: #ffffff;
    font-size: 5em;
}













/* ESSENCE */
#essence {
    padding: 2em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#essence h1 {
    font-size: 5em;
    text-align: center;
}

.imagen-limitada {
    max-width: 100%; 
    max-height: 100%; 
    height: auto; 
}














/* MAKE YOUR OWN MERCH */

#own_merch {
    background-color: #060606 ;
    padding: 3em;
    align-content: center;
}


.my-own-merch-all {
    align-items: center;
}


.my-own-merch {
    padding: 2em;
}

.my-own-merch p {
    font-size: larger;
}

.my-own-merch h1 {
    color: #ffffff;
    font-size: 5em;
}















/* THEY SAY */

#they_say {
    padding: 2em;
    background-image: url(../MERCH_PICS/Magnum-Twojeys.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#they_say h1 {
    text-align: center;
    margin: 0 0 2em 0;
}

.comments {
 align-content: center;
 color: azure;
}

.comments p {
    color: azure;
}

.comments h5 {
    color: #ffed2c;
}











@media screen and (max-width: 800px) {

    .wordCarousel {
    font-size: 3em;
    }
}