
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pangolin";font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color:rgb(23, 23, 23);
    color: #fa8567;
    /* #f0e086 */
}

h1 {
    
    font-family: "Bahiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}


/* -------------------------------CSS DEL INDEX-------------------------- */



/* HEADER */



#header_home {
  width: 100%;
  height: 100vh;
  top: calc(-100vh + 3em);
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.video-fondo-home {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video para que cubra toda la sección */
  z-index: -1; /* Coloca el video detrás del contenido */
}

#exhibit_video img {
  position: absolute;
  width: 50%;
  height: 50%;
  object-fit: contain; 
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.home img{
  width: auto;
  height: 50vh;
  opacity: 0.40;
}







/* -----------INFORMACIÓN--------- */

/* .informacion {
  width: 100%;
  height: 100%;
  background: none;
  padding: 3em;
  padding-bottom: 1em;
}

.informacion h2 {
  font-size: 4em;
  font-weight: 800;
  text-align: center; 
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
}

.informacion p{
  color:#ffffff;
  text-align: center;
  font-size: 1.5em;
  padding-top: 1.2em;
  font-family: "Shadows Into Light";
}


.info_apartado {
  padding-top: 2em;
}

.addtext {
  padding-left: 1.5em;
  width: 100%;
} */








#information_home {
  padding: 3em; /* Añade espaciado arriba y abajo */
}

.informacion_home h2 {
  font-size: 4em;
  text-align: center; 
  font-family: "Bahiana", sans-serif;
  margin-bottom: 20px;
}

.informacion_home p {
  color:#ffffff;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6;
}

.img_flower img {
  max-width: 80%; /* Ajusta el tamaño de la imagen */
  border-radius: 10px; /* Añade bordes redondeados, opcional */
}





/* ----------EVENTOS---------- */

#eventos {
  position: relative;
  height: 80vh;
  padding-right: 3em;
  padding-left: 3em;
  padding-top: 4em;
  top: 0;
}

#eventos h1{ 
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  text-align: center;
  padding: 0.2em;
}

/* #eventos h1:hover{
  color:#F086C3
} */

.carousel_items {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 24px;
  }
  
.carousel_item {
    position: relative;
    min-width: 100%;
    height: 60vh;
    transition: all 0.5s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
.carousel_text {
    position: absolute;
    text-align: center;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5rem 1rem;
    border-radius: 30px;
    background-color:#F086C3;
    color:#000000;
    font-size: calc(1.5rem + 0.3vw);
    font-weight: bolder;
    font-family: "Shadows Into Light";
  }

.carousel_text b{ 
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.item1 {
    background-image: url(..//MULTIMEDIA/aleksandr-popov-R25Q-pAUeY8-unsplash.jpg);
}

.item2 {
    background-image: url(..//MULTIMEDIA/antoine-j-A_0C42zmz1Q-unsplash.jpg);
}

.item3 {
    background-image: url(..//MULTIMEDIA/danny-howe-bn-D2bCvpik-unsplash.jpg);
}

.item4 {
    background-image: url(..//MULTIMEDIA/danny-howe-gwQAhisLnRA-unsplash.jpg);
}

.item5 {
    background-image: url(..//MULTIMEDIA/dominic-hampton-SPuLUQDZp3k-unsplash.jpg);
}










/* ----------MARQUEE---------- */

.marquee {
	width: 100vw;
	height:120px;
	line-height:120px;
	overflow: hidden;
	padding: 0;
  color: #DC6ACF;
}

.marquee span {
	position:relative;
	padding: 0 140px 0 0;
	height:120px;
	line-height:120px;
	font-size:100px;
	overflow: visible;
	white-space:nowrap;
  font-family: "Matemasie", sans-serif;
  color: var(--green);
}

.marquee span::before {
	position: absolute;
	top: 20px;
	left: -110px;
	display: block;
	width: 100px;
	height: 48px;
	line-height: 12px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: right;
	white-space: normal;
}

.marquee span::before {
	content:"ART-FEST / IBIZA SUMMER / 2025 ";
  font-family: "Shadows Into Light";
}



/* -----------ARTISTAS-------------- */

#artistas h1{
  color: rgb(255, 255, 255);
}

.container_artistas{
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
}

#gradient {
  width: 100%;
  height: auto;
  border-radius: 15px;
  opacity: 0.75;
  padding-bottom: 1em;
}

.artistas_row {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  /* font-family: "Shadows Into Light"; */
}

.artistas_row:hover {
  color:#fa8567
}

.column_title h1{
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  color: var(--black);
}

.column_title h1:hover {
  color: var(--white);
}



/*----------------- GALERÍA DE FOTOS -------------------*/


.img-circle {
  width: 100%;
 /* Esto crea un contenedor cuadrado */
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  padding: 1em;
}

.img-circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para llenar el círculo sin deformarse */
}

.img-circle:hover {
  transform: scale(1.1);
}

.container_artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3em;
}





/* -------------COUNTER------------- */


.counter_wrapper{
  width:100%;
  padding: 4em 0 0 0
}

.counter_wrapper .count_box{
  padding:20px 20px;
  border:1px solid #ffffff;
  border-radius:24px;
  text-align:center
}

.counter_wrapper .count_box h3{
  font-size:3em;
  font-weight:600;
  color:#fa8567;
  -webkit-transition:all .5s;
  -o-transition:all .5s;
  -ms-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s
}

.counter_wrapper h4{
  /* font-family: "Shadows Into Light"; */
  font-size: 2em;
  text-transform:uppercase;
  color:#DC6ACF;
  padding-top: 10px;
  -webkit-transition:all .5s;
  -o-transition:all .5s;
  -ms-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s
}

.counter_wrapper .box_center{
  background:linear-gradient(to bottom right,#000000,#DC6ACF);
  background-position:center 0;
  background-size:cover
}

.counter_wrapper .box_center h3,.counter_wrapper .box_center h4{
  color:#fff;
  -webkit-transition:all .5s;
  -o-transition:all .5s;
  -ms-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s
}

.counter_wrapper .box_hover:hover{
  background:linear-gradient(to bottom right,#000000,#DC6ACF);
  background-size:cover;
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
  -ms-transition:all .3s ease;
  transition:all .3s ease
}

.counter_wrapper .box_hover:hover h3,.box_hover:hover h4{
  color:#fff
}







/* -------------FORMULARIO----------- */


.container_formulario {
  padding:4em;
}


.container_formulario h1{
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 0.5em;
  font-size: 4em;
}


.container_formulario p{
  color:#DC6ACF;
  font-family: "Shadows Into Light", cursive;
  font-size: 1.5em;
  font-weight: bolder;

}

.tickets-form {
  border-radius: 50px;
  background-color: transparent;
}

.form-control, .form-select {
  color: #f9f2f2;
}

#formulario_tickets button {
  background-color: #DC6ACF;
  border:none;
  border-radius: 50px;
}



/* --------PARTNERS------- */

.product-image-slider { 
  display: flex; 
  flex-direction: column;
  /* max-width: 300px; */
  margin: 0 auto;
  padding: 4em;
}

.wrapper {
  height: 310px;
  width:100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.product-intro { 
  text-align: center;
  padding-bottom: 2em;
}

.product-intro h2 { 
  padding-left: 0.5em;
  padding-top: 0.5em;
  color: var(--black);
  font-family: "Bahiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}

.button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.carousel_partners {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
  margin-top: 10px;
}

.card_partner {
  background: var(--black);
  min-width: 300px;
  height: 300px;
  margin-right: 14px;
  display: inline-block;
  border-radius: 8px;
}
.card_partner img { 
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
}

.slider-padding { 
  position: absolute; 
  color: black; 
  top: 0;
  font-size: 24px;
  font-weight: 600;
/*   width: 28%; */ 
  width: 80%;
  padding: 0 30px;
}

.arrow-icon-left { 
  display: none;
}


.arrow-icon-right { 
  display: none;
}












/* -----------------------AQUÍ TERMINA EL CSS DEL INDEX---------------------- */




/* -----------------------AQUÍ COMIENZA EL CSS DE LA MERCH---------------------- */







/* MODAL */

.modal-content {
    background-color:#ffffff; /* Color de fondo del modal (gris oscuro) */
    color:#e5461c; /* Color del texto */
    border: 2px solid #f0e086; /* Color del borde del modal (azul) */
}

.fs-5 {
  color:#e5461c;
  font-size: 3em  !important;
}

.modal-header {
    border-bottom: none
}

.btn-secondary {
    background-color:#121212; /* Color de fondo del botón primario */
    border-color:#ffffff; /* Color del borde del botón primario */
}

.btn-secondary:hover {
    background-color:#f0e086; /* Color de fondo en hover del botón primario */
    border-color: #ffffff; /* Color del borde en hover del botón primario */
}











/* HEADER */

header {
    width: 100%;
    height: 80vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.video-fondo {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para que cubra toda la sección */
    z-index: -1; /* Coloca el video detrás del contenido */
}












/* CARRUSEL PALABRAS */

.wordCarousel {

    font-size: 4em;
    font-weight: 100;
    color:#ffffff;
}

  .wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 100px;
    padding-top: 10px;
    margin-top: -10px;
  }

  .wordCarousel div ul {
    padding-left: 0;
  }

  .wordCarousel div li {
    color:#009933;
    font-weight: 700;
    /* padding: 0 10px; */
    height: 45px;
    margin-bottom: 45px;
    display: block;
    text-align: center;
  }

  .flip4 li {
    font-family: "Bahiana", sans-serif;
  }
  
  .flip2 {
    -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip3 {
    -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  .flip4 {
    -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
            animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }
  
  @-webkit-keyframes flip2 {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  
  @keyframes flip2 {
    0% {
      margin-top: -180px;
    }
    5% {
      margin-top: -90px;
    }
    50% {
      margin-top: -90px;
    }
    55% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @-webkit-keyframes flip3 {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @keyframes flip3 {
    0% {
      margin-top: -270px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @-webkit-keyframes flip4 {
    0% {
      margin-top: -360px;
    }
    5% {
      margin-top: -270px;
    }
    25% {
      margin-top: -270px;
    }
    30% {
      margin-top: -180px;
    }
    50% {
      margin-top: -180px;
    }
    55% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
  @keyframes flip4 {
    0% {
      margin-top: -360px;
    }
    5% {
      margin-top: -270px;
    }
    25% {
      margin-top: -270px;
    }
    30% {
      margin-top: -180px;
    }
    50% {
      margin-top: -180px;
    }
    55% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    80% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
}

.custom-btn {
    background-color: #000000; /* Color de fondo inicial */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno del botón */
    font-size: 1.2em; /* Tamaño del texto */
    transition: background-color 0.3s ease; /* Efecto de transición */
    border-radius: 50px;
}

.custom-btn:hover {
    background-color:#3a9736; /* Color de fondo al hacer hover */
    color: #ffffff; /* Color del texto al hacer hover */
}
















/* NAVBAR */

.navbar-brand > img{
    width: 2em;
}

.navbar-nav .nav-link {
    color:antiquewhite;
    position: relative;
    padding: 5px 10px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:antiquewhite;
}

.navbar-nav .nav-link:hover {
    color:#ffffff;
}


.dropdown-menu {
    background-color: #000000;
    border-radius: 0%;

}

.dropdown-item {
    color:#F086C3;
}






/* BOTÓN Y FORM DEL NAV */

.my-color-btn {
    color:rgb(32, 32, 32);
    background-color:antiquewhite;
    border-radius: 50px;
}

.search_bar {
    border-radius: 50px;
    background-color: transparent;
    box-shadow: none;
    border-color: antiquewhite;
    color: antiquewhite;
}

.my-color-btn:hover {
    color: rgb(255, 255, 255);
    background-color:#121212;
}















/* ARTIST OF THE MONTH */

#artist {
    background-color:#009933;
}

.custom-border {
    border: 1px solid #060606;
}

.my_container_ok {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}




/* RINA */

#rina_sawayama {
  margin: 4em;
  padding: 4em;
  align-content: center;
}

#rina_sawayama h1 {
  font-size: 5em;
}

.my-own-merch-all-rina {
  align-items: center;
}

.rina {
  font-size: 5em;
  padding: 0 0 1em 0;
}

.img_rina img {
  width: 100%;
}







/* FEATURED PRODUCTS*/


#MERCH_MUSIC {
  margin: 4em;
  padding: 4em;
}


#MERCH_MUSIC  h1 {
    /* text-align: center; */
    color: #ffffff;
    font-size: 5em;
}


.mymusiccard {
    background-color: transparent !important; /* Quita el color de fondo */
    border: none !important; /* Quita el borde */;
    color: whitesmoke;
}

.mymusiccard .card-title {
    font-weight: 500;
    color: #f0e086;
}

.mymusiccard img {
  transition: transform 0.3s ease; /* Suaviza la transición */
  width: 100%; /* Asegura que la imagen ocupe el ancho del contenedor */
}
 
.mymusiccard img:hover {
  transform: scale(1.1); /* Aumenta la imagen un 10% */
}














/* TOP SELLERS */

#top_sellers {
    text-align: center;
    padding: 3em;
    background-image: url(../MERCH_PICS/GRAIN_GRADIENT.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#top_sellers h1 {
    text-align: center;
    padding: 1em 0 1em 0;
    color: #ffffff;
    font-size: 5em;
}

#top_sellers  h5{
  font-family: "Bahiana", sans-serif;
  font-size: 2em;
}

.my-card-top{
  border: none;
  object-fit: cover;
}

.my-card-top img {
  max-height: 400px; 
    object-fit: cover;
}


.my-card-top .card-img {
  transition: transform 0.3s ease-out;
}

.my-card-top:hover .card-img {
  transform: scale(1.1);
}

.text-overlay {
  align-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  color: white;
  opacity: 0;  /* El texto está oculto por defecto */
  visibility: hidden;  /* No es visible al principio */
  transition: opacity 0.3s ease, visibility 0.3s ease, background 0.3s ease;
}

/* Efecto cuando el mouse pasa por encima de la tarjeta */
.card:hover .text-overlay {
  opacity: 1;  /* El texto se hace visible */
  visibility: visible;  /* Hace visible el texto */
}















/* ESSENCE */
#essence {
    padding: 6em 4em 2em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#essence h1 {
    font-size: 5em;
    text-align: center;
}

.imagen-limitada {
    max-width: 100%; 
    max-height: 100%; 
    height: auto; 
}


















/* MAKE YOUR OWN MERCH */

#own_merch {
    padding: 6em 4em 8em;
    align-content: center;
}


.my-own-merch-all {
    align-items: center;
}


.my-own-merch {
    padding: 2em;
}

.my-own-merch p {
    font-size: larger;
}

.my-own-merch h1 {
    color: #ffffff;
    font-size: 5em;
}

.my-own-merch .form-control{
  background-color: transparent;
  color: #ffffff;
}

.btn_merch {
  background-color: antiquewhite;
  border-radius: 50px;
  width: 50%;
}

.img_merch_c{
  padding: 2em
}

.img_merch_c img {
  transform: rotate(-5deg);
  border-radius: 10px;
}

.img_merch_c_2{
  padding: 2em
}

.img_merch_c_2 img {
  transform: rotate(5deg);
  border-radius: 10px;
}













/* THEY SAY */

#they_say {
    padding: 0 0 8em;
    background-image: url(../MERCH_PICS/GRAIN_GRADIENT_2.webp);
    /* linear-gradient(rgba(0, 0, 0, 0.769), rgba(0, 0, 0, 0.769)), */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#they_say h1 {
    text-align: center;
    padding: 1em 0 1em 0;
    font-size: 5em;
}

.comments {
  flex-direction: row;
  justify-content: center;
  align-content: center;
  color: azure;
}

#they_say img {
  width: 70%;
}


.comments p {
    color: azure;
}

.comments h5 {
    color:#121212;
}


#test {
  font-size: 3em;
  text-align: right;
  width: 850px;
}


#they_say .card {
  border: none;
  align-items: center;
}

#they_say .card .card-footer {
  border-radius: 50px;
  width: 50%;
  background-color: transparent;
}









/* ----------FOOTER--------- */

#footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../MERCH_PICS/plufow-le-studio-azrHFAv_O4c-unsplash.jpg);
  padding: 4em 0;
}

#info {
  display: flex;
  flex-direction: row;
}

#info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;

}

#footer li {
  list-style: none;
  color:#f9f2f2;
  text-align: center;
  justify-content: center;
}


#footer ul {
  padding-left: 0;
}

#footer button {
  padding: 1em;
  border-radius: 10px;
  background-color: #e5461c;
  cursor:pointer;
  transition: .35s;
  color:rgb(255, 255, 255);
  font-weight:bold;
  border: none;
  align-self: center;

}

#footer input {
  margin-top: 0.5em;
  height: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
}













/* ------------------------------MEDIA QUERIES-------------------------------- */


/* -----------------INDEX------------- */



@media screen and (max-width: 700px) {


  .informacion h2 {
      font-size: 3em;
  }
  
  .informacion p{
      font-size: 1.2em;
  }  
    
  .carousel_text {
    font-size: calc(0.8rem + 0.3vw);
  }
  
  .container_artistas{
    padding-left: 0em;
    padding-right: 0em;
  }

  #gradient {
    border-radius: 0;
  }
  
  .artistas_row {
    color: black;
    font-size: 0.8em;
  }
  
  .column_title h1{
    color: var(--black);
  }
  
  .column_title h1:hover {
    color: var(--white);
  }

  .counter_wrapper .col-md-4{
    margin-bottom:15px;
    padding: 0.5em;
  }

  .counter_wrapper .count_box h4{
    font-size: 0.5em;
  }

  .footer .content {
    padding: 1rem;
  }

  .footer .content b {
  color: var(--black);
  font-size: 0.80em;
  }

  .footer .content a, body .footer .content p {
    font-size: 0.70em;
  }

  .footer .content img {
    display: none;
  }

  .footer .content p {
    display: none;
  }

  .product-intro {
    width: 300px;
    height: 100px;
    }

    .product-image-slider { 
      padding: 1em;
    }

    #info {
      flex-direction: column;
    }
}






  
  
@media screen and (max-width: 1000px) {
     
  .carousel_text {
    font-size: calc(1rem + 0.3vw);
  }
  
  .carousel_text b{
    font-size: 1.2em;
    font-family: "Matemasie", sans-serif;
  }

  .counter_wrapper .count_box h4{
    font-size: 1em;
  }

}

  
@media screen and (max-width: 1400px) {
  
    .counter_wrapper .count_box h4{
      font-size: 1.5em;
    }


    .container_formulario {
      padding-right: 2em;
      padding-left: 2em;
      padding-top: 3em;
    }

    .product-intro h2 { 
      padding-left: 0.5em;
      padding-top: 0.2em;
    }
  
}
  
  
  
  




@media (min-width: 768px) { 
  .product-image-slider { 
  display: flex; 
  align-items: left;
  flex-direction: column;
  max-width: 1260px;
}
.wrapper {
  height: 360px;
/*   width: 100%; */ width: 740px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
  .product-intro {
/*     width: 100%;
    height: auto; */
/*     width: 790px; */ /* width: 97%; */
    width: 740px;
    height: 100px;
    margin: 0 auto;
  }

  .slider-padding {
    width: 80%;
  }

  .carousel_partners { width: 360px; }
  .card_partner { 
/*     min-width: 410px;
    height: 410px; */
    min-width: 360px;
    height: 360px;
  }

    .card_partner img { 
      width: 100%;
      height: 360px; 
      margin: 0 8px; 
  }

}





/* iPad Air */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation : landscape) {
  .card_partner {
  min-width: 360px;
  height: 360px;
}
.product-intro { width: 740px; }
}




/* iPad Air */
@media only screen and (device-width: 820px) and (device-height: 1180px) and (orientation : landscape) {
.product-intro {
  width: 790px;
}
.card_partner {
  min-width: 385px;
  height: 385px;
}
}






/* iPad Air */
@media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation : landscape) {
.product-image-slider {
  flex-direction: column;
}
.wrapper {
 width: 940px;
}
.card_partner {
  min-width: 385px;
  height: 385px;
}
.product-info { width: 940px; }
}





@media (min-width: 1024px) {
  .product-image-slider { 
  display: flex; 
  align-items: left;
  flex-direction: column;
  max-width: 1260px;
  }
  .wrapper {
  height: 300px;
  width: 940px;
  position: relative;
  overflow: hidden;
  margin: 10px auto 0;
  }
  /*     .product-intro {
  width: 300px;
  height: 300px;
  } */
  .product-intro {
  /*     width: 91%; */
    width: 940px;
    height: auto;
  }
  .carousel_partners {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
  }
  .card_partner {
  min-width: 300px;
  height: 300px;
  }
  .card_partner img { width: 100%; height: auto;  }
    .slider-padding {
    width: 28%;
  }

}

@media (min-width: 1280px) {
  .product-image-slider { flex-direction: row; }
  .wrapper { margin: 0 auto; }
  .product-intro {
  width: 300px;
  height: 300px;
  }
}




/* ------------------------MERCH----------------------- */



@media screen and (max-width: 900px) {


  .my-own-merch h1 {
    font-size: 3em;
  }
  #essence h1 {
    font-size: 3em;
  }
  #they_say h1 {
    font-size: 3em;
  }

}



@media screen and (max-width: 800px) {

    .wordCarousel {
    font-size: 3em;
    }
}

@media screen and (max-width: 772px) {

  .my-own-merch-all {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 600px) {
  
  #rina_sawayama {
    margin: 0;
  }

  #rina_sawayama h1 {
    font-size: 3em;
    text-align: center;
  }

  #MERCH_MUSIC {
    margin: 0;
    padding: 2em 4em;
    padding-bottom: 5em;
  }

  #MERCH_MUSIC h1 {
    font-size: 3em;
    text-align: center;
  }

  .mymusiccard .card-title {
    font-size: 1em;
  }

  #top_sellers h1 {
    font-size: 3em;
  }

  #essence {
    margin: 0;
    padding: 0em 2em 4em 2em;
  }

  #own_merch {
    margin: 0;
    padding: 4em;
  }

}
