
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* background-image: url(../MERCH_PICS/film_texture___grain_explosion_by_stephanepellennec_d37pwfa-fullview.jpg); */
    background-color:black;

    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../MERCH_PICS/film_texture___grain_explosion_by_stephanepellennec_d37pwfa-fullview.jpg); */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #F086C3;
    /* background-attachment: fixed; */

}

h1 {
    font-family: "Matemasie", sans-serif;
    color: #ffffff;
}


/* HEADER */

/* .header {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
} */

header {
    width: 100%;
    height: 50vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    /* background-image: url(../MERCH_PICS/Magnum-Twojeys.webp); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

Header > h1 {
    font-family: "Matemasie", sans-serif;
    font-size: 5em;
    padding: 1em;
    text-align: center;
    color: #F086C3;
}

.navbar-brand > img{
    width: 2em;
}
/* .navbar {
    position: sticky;
    top: 0;
    z-index: 1;
} */





/* BOTÓN Y FORM */

.my-color-btn {
    color: #ffffff;
    background-color: #ffed2c;
    border-radius: 50px;
}

.form-control {
    border-radius: 50px;
    background-color: transparent;
    box-shadow: none;
    border-color: #ffed2c;
}

.my-color-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #F086C3;
}





/* NAV */

.nav-link {
    color: #ffed2c;
}

.nav-link:hover, .navlink.active {
color: #F086C3;
}


.nav-link {
    border-bottom: 0;
}
    



/* ARTIST OF THE MONTH */

#artist {
    background-color:#3a9736;
}

.custom-border {
    border: 1px solid #060606; /* Color y grosor personalizado */
}




/* FEATURED PRODUCTS*/

#MERCH_MUSIC  h2 {
    text-align: center;
    color: #ffffff;
}

#MERCH_MUSIC {
    margin: 2em;
    padding: 2em;
}

.mymusiccard {
    background-color: transparent !important; /* Quita el color de fondo */
    border: none !important; /* Quita el borde */;
    color: whitesmoke;
}

.mymusiccard .card-title {
    font-weight: 500;
    color:#F086C3;
}




/* TOP SELLERS */

#top_sellers {
    text-align: center;
    color: #ffffff;
    padding: 2em 4em;
    margin: 2em;
}

#top_sellers h2 {
text-align: center;
padding: 1em;
}





/* ESSENCE */
#essence {
    padding: 3em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#essence h1 {
    font-size: 5em;
    text-align: center;
}




/* MAKE YOUR OWN MERCH */

#own_merch {
    background-color: #060606 ;
    padding: 3em;
    align-content: center;
}

.my-own-merch-all {
    align-items: center;
}

.my-own-merch {
    padding: 2em;
}

.my-own-merch p {
    font-size: larger;
}






/* THEY SAY */

#they_say {
    padding: 2em;
    margin: 2em;
}

#they_say h1 {
    text-align: center;
    margin: 0 0 2em 0;
}

.comments {
 align-content: center;
}

