
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* background-image: url(../MERCH_PICS/film_texture___grain_explosion_by_stephanepellennec_d37pwfa-fullview.jpg); */
    background-color:#ffed2c;

    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../MERCH_PICS/film_texture___grain_explosion_by_stephanepellennec_d37pwfa-fullview.jpg); */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #F086C3;
    /* background-attachment: fixed; */
}



/* HEADER */

/* .header {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
} */

header {
    width: 100%;
    height: 50vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    /* background-image: url(../MERCH_PICS/Magnum-Twojeys.webp); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

Header > h1 {
    font-family: "Matemasie", sans-serif;
    font-size: 5em;
    padding: 1em;
    text-align: center;
    color: #F086C3;
}

.navbar-brand > img{
    width: 2em;
}
/* .navbar {
    position: sticky;
    top: 0;
    z-index: 1;
} */





/* BOTÓN Y FORM */

.my-color-btn {
    color: #ffffff;
    background-color: #ffed2c;
    border-radius: 50px;
}

.form-control {
    border-radius: 50px;
    background-color: transparent;
    box-shadow: none;
    border-color: #ffed2c;
}

.my-color-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #F086C3;
}





/* NAV */

.nav-link {
    color: #ffed2c;
}

.nav-link:hover, .navlink.active {
color: #F086C3;
}


.nav-link {
    border-bottom: 0;
}
    




/* GRID */

.grid-wrapper {
    padding: 1rem 0;
    margin: 3rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}



/* MUSIC */

