
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-image: url(../MERCH_PICS/Magnum-Twojeys.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.my-color-nav {
    color: blueviolet;
}

.my-text {
    color: antiquewhite;
}

.my-color-btn {
    color: blueviolet;
}

.my-color-btn:hover {
    color: rgb(107, 226, 43);
}

/* .my-navbar-color {
    background: linear-gradient(blue, rgba(255, 192, 203, 0));
} */

.nav-link-hover-color {
color: aqua;
}



.grid-wrapper {
    padding: 1rem 0;
    margin: 3rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .grid-wrapper > div:nth-child(even) {
    opacity: 0 !important;
} */

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}