
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-image: url(../MERCH_PICS/Magnum-Twojeys.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .navbar {
    position: sticky;
    top: 0;
    z-index: 1;
} */

.my-color-nav {
    color: blueviolet;
}

/* BOTÓN Y FORM */
.my-color-btn {
    color: #ffffff;
    background-color: #623CEA;
    border-radius: 50px;
}
.form-control {
    border-radius: 50px;
    background-color: transparent;
    box-shadow: none;
    border-color: #623CEA;
}

.my-color-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #F086C3;
}

.nav-link {
    color: #623CEA;
}

.nav-link:hover, .navlink.active {
color: #F086C3;
}


.nav-link {
    border-bottom: 0;
}
    



.grid-wrapper {
    padding: 1rem 0;
    margin: 3rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}