* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
} 









/* HEADER */









#menu_home {
    position: fixed;
    z-index: 1;
}

header {
    height: 100vh;
    background-size: cover;
}

#exhibit_video {
    position: relative;
    height: 100vh;
}

#exhibit_video video {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ajusta el video para cubrir completamente el contenedor */
}

#exhibit_video img {
    position: absolute;
    width: 50%;
    height: 50%;
    object-fit: contain; /* Ajusta la imagen para cubrir completamente el contenedor */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    opacity: 0.6;
}

.video_expo {
    height: 100vh;
}

header .home {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home img{
  width: auto;
  height: 40vh;
}







/* INFORMACION */








.informacion {
    width: 100%;
    padding: 4em;
    height: 100%;
    background: none;
}

#gradient {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.info_apartado {
    padding-top: 2em;
}

.informacion iframe {
    width: 100%;
    height: 30vh;
}

.addtext {
    padding: 1.5em;
    width: 100%;
}

.informacion h2 {
    color: var(--white);
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    
}

.informacion p{
    color: var(--white);
    text-align: center;
    font-size: 1.4em;
    
}

.info_imagen {
    align-items: center;
    width: 50%;
    height: 50%;
    padding-left: 2em;
}





/* MARQUEE */







.marquee {
    background-color: var(--white);
    height: 2.5em;
    --gap: 0.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    font-size: 1.5em;
  }

  .marquee_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    min-width: 120%;
    padding-top: 1.2em;
  }

  .marquee_content h1{
    font-weight: lighter;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

.enable-animation .marquee_content {
    animation: scroll 10s linear infinite;
  } 

  .marquee--reverse .marquee_content {
    animation-direction: reverse;
  }
